# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.gitignore.io/api/macos,visualstudiocode,node
# Edit at https://www.gitignore.io/?templates=macos,visualstudiocode,node

# Dependency directories
node_modules/
